{% extends base_template|default:'home.html' %}
{% load static %}
{% block content %}
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="{% static 'img/logo.png' %}" alt="EscMap" >
    <p>EscMap</p>
  </a>
  <p class="device-notification--message">EscMap are atatea de oferit astfel incat va rugam sa orientati device-ul in pozitia orizontala.Garantat nu veti regreta </p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="{% url 'home'%}">
            <img src="{% static 'img/logo.png' %}" alt="Global">
            <p>EscMap</p>
          </a>
          <button class="header--cta cta">Contacteaza-ne</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Branding</span></li>
            <li><span>Despre</span></li>
            <li><span>Avantaje</span></li>
            <li><span>Alte Servicii</span></li>
            <li><span>Contact</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1 style="top:30px;">Branding</h1>
                <button class="cta" style="top:30px;">Contacteaza-ne
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="{% static 'img/branding_banner.png' %}" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Identitate si recunoastere</h3>
                  <p>Identitatea dumneavoastra de brand în domeniul digital reprezintă forța dumneavoastra. Cu o strategie bine definită și consistență, construim recunoaștere și încredere, conectându-va afacerea la publicul țintă în mod semnificativ și durabil</p>
                </a>
                <a href="#0">
                  <h3>Loialitate si fidelizare<br></h3>
                  <p> Loialitatea și fidelizarea clienților sunt cheia succesului. Prin strategii personalizate ne concentram să construim relații de durată între afaceri și clienți, transformându-i în susținători devotați</p>
                </a>
                <a href="#0">
                  <h3>Rezistenta la schimbare</h3>
                  <p>Un branding puternic servește ca un pilon de stabilitate pentru afacere în fața schimbărilor din industrie sau economie. Deoarece clienții au încredere în coerența și reputația brandului, aceștia tind să rămână loiali chiar în perioade incerte</p>
                </a>
              </div>
            </div>
          </li>

          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Ce este<br>Branding-ul?</h2>

                </a>
                <img src="{% static 'img/branding_small.png' %}" alt="About Us">
              </div>
                  <p >Brand-ul este o reprezentare complexa si cuprinzatoare a unei entitati comerciale. Este modul in care aceasta entitate este perceputa, recunoscuta si amintita de catre publicul sau tinta. Brand-ul nu se limiteaza doar la aspectul vizual, cum ar fi logo-ul sau numele companiei, ci include toate elementele care definesc identitatea si reputatia acelei entitati</p>
              </div>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Cum ce va poate <br>ajuta serviciul de <br>branding afacerea?</h2>
              </div>
                  <p>Branding-ul contribuie la creșterea recunoașterii brandului, construirea încrederii și diferențierea față de concurență. Prin definirea unei misiuni, valorii și mesajelor clare, se creează o identitate coerentă care atrage clienți și îi fidelizează. În plus, branding-ul contribuie la rezistența la schimbări din industrie sau economie, deoarece clienții au încredere în coerența brandului. Prin urmare, branding-ul nu doar definește aspectul și mesajul unei afaceri, ci și contribuie semnificativ la succesul durabil al acesteia</p>
              </div>
          </li>
         <li  class="l-section section" id="servicii">
            <div class="work" >
              <h2>Alte Servicii</h2>
              <div class="work--lockup" >
                <ul class="slider">
                  <li class="slider--item slider--item-center">
                    <a href="google_ads">
                      <div class="slider--item-image">
                        <img src="{% static 'img/servicii/google_service.png' %}" alt="Victory">
                      </div>
                      <p class="slider--item-title">Google Ads</p>
                      <p class="slider--item-description">Optimizam campaniile Google Ads pentru a va aduce trafic de calitate si conversii. Obtineti rezultate excelente cu expertii nostri in PPC</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="social_media_marketing">
                      <div class="slider--item-image">
                        <img src="{% static 'img/servicii/social_media_marketing_service.png' %}" alt="Metiew and Smith">
                      </div>
                      <p class="slider--item-title">Social Media Advertising</p>
                      <p class="slider--item-description">Transformăm social media într-un motor de creștere. Cu strategii personalizate, creștem notorietatea afacerii dumneavoastra online</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-left-left">
                    <a href="social_media_management">
                      <div class="slider--item-image">
                        <img src="{% static 'img/servicii/social_media_management_service.png' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Social Media Management</p>
                      <p class="slider--item-description">Gestionam cu pricepere conturile dumneavoastra de social media. Cream continut de impact, interactionam cu audienta si va consolidam prezenta online</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right-right">
                    <a href="email_marketing">
                      <div class="slider--item-image">
                        <img src="{% static 'img/servicii/email_marketing_service.png' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Email Marketing</p>
                      <p class="slider--item-description">Email marketingul nostru va ajuta sa ajungeti la publicul tinta cu mesaje personalizate si captivante pentru conversii si loialitate crescuta</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right-left">
                    <a href="branding">
                      <div class="slider--item-image">
                        <img src="{% static 'img/servicii/branding_service.png' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Branding</p>
                      <p class="slider--item-description">Definim identitati puternice pentru afaceri. De la logo-uri la mesaje consistente, construim un branding care va diferentiaza si atrage publicul</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-left">
                    <a href="web_development">
                      <div class="slider--item-image">
                        <img src="{% static 'img/servicii/web_service.png' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Web Development</p>
                      <p class="slider--item-description"> Web development-ul poate aduce multe avantaje pentru afacerea ta, contribuind la creșterea și succesul acesteia în era digitală</p>
                    </a>
                  </li>

                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>

          <li class="l-section section" >
            <div class="hire">
              <h2>Selecteaza serviciile dorite</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="app design">
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Branding
                    </label>
                    <input id="opt-2" type="checkbox" value="graphic design">
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Web Development
                    </label>
                    <input id="opt-3" type="checkbox" value="motion design">
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Email Marketing
                    </label>
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" value="ux design">
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Social Media Management
                    </label>
                    <input id="opt-5" type="checkbox" value="webdesign">
                    <label for="opt-5">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Social Media<br>Marketing
                    </label>
                    <input id="opt-6" type="checkbox" value="marketing">
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Google Ads
                    </label>
                  </span>
                </div>
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Nume</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Email</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Telefon</label>
                  </div>

                </div>
                <input type="submit" value="Trimite">
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active" id="home" ><a href="{% url 'home' %}">Acasa</a></li>
    <li id="servicii">Despre</li>
    <li id="despre">Avantaje</li>
    <li id="contact">Servicii</li>
    <li id="parteneriat">Contact</li>
  </ul>

{% endblock content %}