{% extends base_template|default:'home.html' %}
{% load static %}
{% block content %}
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="{% static 'img/logo.png' %}" alt="EscMap" >
    <p>EscMap</p>
  </a>
  <p class="device-notification--message">EscMap has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="{% url 'home'%}">
            <img src="{% static 'img/logo.png' %}" alt="Global">
            <p>EscMap</p>
          </a>
          <button class="header--cta cta">Contacteaza-ne</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Google Ads</span></li>
            <li><span>Despre</span></li>
            <li><span>Tipuri de campanii</span></li>
            <li><span>Avantaje</span></li>
            <li><span>Servicii</span></li>
            <li><span>Parteneriat</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Google<br>Ads</h1>
                <button class="cta">Contacteaza-ne
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="{% static 'img/google_ads.png' %}" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Strategii Personalizate</h3>
                  <p>Elaborăm strategii personalizate de Google Ads, adaptate obiectivelor dvs. și publicului țintă. De la identificarea cuvintelor cheie relevante la gestionarea licitațiilor și a bugetelor, ne concentrăm pe obținerea rezultatelor</p>
                </a>
                <a href="#0">
                  <h3>Monitorizare si optimizare<br></h3>
                  <p>Monitorizăm și optimizăm cu atenție campaniile de Google Ads pentru a maximiza ROI. Prin analize constante și ajustări strategice, ne asigurăm că bugetele sunt cheltuite eficient, iar rezultatele sunt remarcabile</p>
                </a>
                <a href="#0">
                  <h3>Rapoarte si analize</h3>
                  <p>Realizam rapoarte și analize detaliate ale campaniilor de Google Ads. Furnizăm clienților noștri date relevante și insight-uri esențiale pentru a măsura performanța și pentru a lua decizii importante</p>
                </a>
              </div>
            </div>
          </li>

          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Ce sunt<br>Google Ads</h2>

                </a>
                <img src="{% static 'img/google_banner.png' %}" alt="About Us">
              </div>
                  <p >Google Ads pune la dispozitia afacerilor instrumente pentru a plasa anunturi pe diverse platforme cum ar fi motorul de cautare Google, YouTube si Google Display Network, Google Shopping si altele. Aceasta platforma constituie o modalitate eficienta si precisa de a atinge audiente relevante si de a-ti promova produsele sau serviciile in mediul online</p>
              </div>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Tipuri de<br>Campanii </h2>
                <h2 id="right-arrow"> &#8594;</h2>
                <h3 id="service-name">Search</h3>
                <p id="service-text" style="max-width:400px; word-wrap:break-word;">Facebook Ads sunt o modalitate eficienta si flexibila<br>de a promova produsele, serviciile si mesajele afacerii tale<br>pe una dintre cele mai mari si mai populare platforme<br>de socializare din lume, ajutand astfel la atingerea<br>obiectivelor de marketing si la cresterea afacerii</p>
                <h2 id="left-arrow"> &#8592;</h2>
                </a>
                <img id="service-image" src="{% static 'img/facebook_ads.png' %}" alt="About Us">
              </div>


          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Cum ce va poate <br>ajuta serviciul de <br>Google Ads afacerea?</h2>

                </a>

              </div>
                  <p>Google Ads oferă numeroase beneficii pentru afaceri, printre care creșterea vizibilității online, generarea de trafic calitativ pe site-ul web și cresterea vânzărilor. Prin intermediul platformei Google Ads, se poate ajunge la publicul potrivit în momentul potrivit. De asemenea, controlul asupra bugetului și a costurilor per clic, ajuta la gestionarea eficienta a resursele de publicitate. Analizele detaliate furnizate de Google permit monitorizarea performanței și ajustarea campaniilor pentru a obține cel mai bun ROI (Return of investment). Cu ajutorul acestui serviciu, afacerile pot crește conștientizarea brandului, pot atrage lead-uri calitative și pot transforma vizitatorii în clienți</p>
              </div>
          </li>

           <li  class="l-section section" id="servicii">
            <div class="work" >
              <h2>Alte Servicii</h2>
              <div class="work--lockup" >
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="{% static 'img/google.png' %}" alt="Victory">
                      </div>
                      <p class="slider--item-title">Google Ads</p>
                      <p class="slider--item-description">Optimizam campaniile Google Ads pentru a va aduce trafic de calitate si conversii. Obtineti rezultate excelente cu expertii nostri in PPC</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="services/social_media_marketing">
                      <div class="slider--item-image">
                        <img src="{% static 'img/marketing.png' %}" alt="Metiew and Smith">
                      </div>
                      <p class="slider--item-title">Social Media Marketing</p>
                      <p class="slider--item-description">Transformăm social media într-un motor de creștere. Cu strategii personalizate, creștem notorietatea afacerii dumneavoastra online</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-left-left">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="{% static 'img/facebook.png' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Social Media Management</p>
                      <p class="slider--item-description">Gestionam cu pricepere conturile dumneavoastra de social media. Cream continut de impact, interactionam cu audienta si va consolidam prezenta online</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right-right">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="{% static 'img/email.png' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Email Marketing</p>
                      <p class="slider--item-description">Email marketingul nostru va ajuta sa ajungeti la publicul tinta cu mesaje personalizate si captivante pentru conversii si loialitate crescuta</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right-right-right">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="{% static 'img/branding.png' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Branding</p>
                      <p class="slider--item-description">Definim identitati puternice pentru afaceri. De la logo-uri la mesaje consistente, construim un branding care va diferentiaza si atrage publicul</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="{% static 'img/web.png' %}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Web Development</p>
                      <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                    </a>
                  </li>

                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section" >
            <div class="hire">
              <h2>Selecteaza serviciile dorite</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="app design">
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Branding
                    </label>
                    <input id="opt-2" type="checkbox" value="graphic design">
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Web Development
                    </label>
                    <input id="opt-3" type="checkbox" value="motion design">
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Email Marketing
                    </label>
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" value="ux design">
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Social Media Management
                    </label>
                    <input id="opt-5" type="checkbox" value="webdesign">
                    <label for="opt-5">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Social Media<br>Marketing
                    </label>
                    <input id="opt-6" type="checkbox" value="marketing">
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Google Ads
                    </label>
                  </span>
                </div>
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Nume</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Email</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Telefon</label>
                  </div>

                </div>
                <input type="submit" value="Trimite">
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active" id="home" ><a href="{% url 'home' %}">Acasa</a></li>
    <li id="servicii">Google<br>Ads</li>
    <li id="despre">Tipuri Reclame</li>
    <li id="contact">Servicii</li>
    <li id="parteneriat">Parteneriat</li>

  </ul>


 <script>
    i = 0
    services_names = ['Search', 'Youtube', 'Google Display Network', 'Google Shopping']
    services_text = ['Afisare pe motorul de cautare Google: Poti plasa anunturi text sau afiseaza anunturi in rezultatele cautarii Google. Anunturile pot aparea in partea de sus sau in partea de jos a paginilor de rezultate sau in cadrul altor locatii relevante', `Google Ads permite plasarea anunturilor video pe platforma YouTube, cu optiuni de segmentare precise pentru a ajunge la publicul tau tinta`, 'Acesta este un ansamblu vast de site-uri web, bloguri si alte platforme online unde poti plasa anunturi grafice sau video pentru a-ti promova afacerea','Google Shopping Ads sunt anunturi online care permit comerciantilor sa-si afiseze produsele direct in rezultatele cautarii Google afisand informatii precum imaginea produsului, pretul si numele magazinului']
    services_images = ["{% static 'img/google_search.png' %}", "{% static 'img/youtube.png' %}", "{% static 'img/google_display.png' %}", "{% static 'img/shopping.png' %}"]
    image_element = document.getElementById('service-image')
    service_name = document.getElementById('service-name')
    service_text = document.getElementById('service-text')

    left_arrow = document.getElementById('left-arrow')
    right_arrow = document.getElementById('right-arrow')


    function changeTxt() {
        if (i < 0) {
            i = services_images.length-1
        } else if (i > services_images.length-1){
            i = 0
        }
        var service_image = services_images[i]
        service_name.innerText = services_names[i]
        console.log(service_name)
        service_text.innerText = services_text[i]
        image_element.setAttribute('src',service_image)


    }
    window.onload = changeTxt;
    function change_left(){
        i = i- 1;
        changeTxt();
    }

    function change_right(){
        i = i+1;
        changeTxt();
    }
    left_arrow.addEventListener("click", change_left)
    right_arrow.addEventListener("click",change_right)

</script>>

{% endblock content %}